#include "imx8mm-evk.dts"

/ {
	v3v3: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-name = "v3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};
};


&adv_bridge {
	status = "disabled";
};


&mipi_dsi {
	panel: panel@0 {
		compatible = "himax,hx8394";
		reg = <0>;
		reset-gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
		power-supply = <&v3v3>;

		clock-frequency = <73315500>;
		hactive = <720>;
		vactive = <1280>;
		hfront-porch = <95>;
		hback-porch = <55>;
		hsync-len = <55>;
		vback-porch = <24>;
		vfront-porch = <8>;
		vsync-len = <9>;	
		vrefresh = <60>;
		
		status = "okay";
    };
};


