#include "imx8mm-evk.dts"

/ {
	v3v3: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-name = "v3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	backlight{
	    compatible = "pwm-backlight";
	    pwms = <&pwm1 0 100000>;
	    status = "okay";

	    brightness-levels = < 0  1  2  3  4  5  6  7  8  9
				 10 11 12 13 14 15 16 17 18 19
				 20 21 22 23 24 25 26 27 28 29
				 30 31 32 33 34 35 36 37 38 39
				 40 41 42 43 44 45 46 47 48 49
				 50 51 52 53 54 55 56 57 58 59
				 60 61 62 63 64 65 66 67 68 69
				 70 71 72 73 74 75 76 77 78 79
				 80 81 82 83 84 85 86 87 88 89
				 90 91 92 93 94 95 96 97 98 99
				100>;
	    default-brightness-level = <80>;
	};
};


&adv_bridge {
	status = "disabled";
};


&mipi_dsi {
	panel: panel@0 {
		compatible = "himax,hx8394";
		reg = <0>;
		reset-gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
		power-supply = <&v3v3>;

		clock-frequency = <73315500>;
		hactive = <720>;
		vactive = <1280>;
		hfront-porch = <95>;
		hback-porch = <55>;
		hsync-len = <55>;
		vback-porch = <24>;
		vfront-porch = <8>;
		vsync-len = <9>;	
		vrefresh = <60>;
		
		status = "okay";
    };
};

&pwm1 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm1>;
    status = "okay";
};

&iomuxc {
    pinctrl_pwm1:pwm1grp {
    	fsl,pins = <
            MX8MM_IOMUXC_GPIO1_IO01_PWM1_OUT  0x116
    	>;
    };
};

