/*
 * Copyright (C) 2019 - All Rights Reserved by 
 * filename : imx-fire-74hc595-overlay.dts
 * brief : Device Tree overlay for 74hc595 device
 * author : embedfire
 * date : 2020-03-25 
 * version : A001
 */

#include "../imx6ul-pinfunc.h"
#include "../imx6ull-pinfunc.h"
#include "dt-bindings/gpio/gpio.h"
#include "../imx6ull-pinfunc-snvs.h"
/dts-v1/;
/plugin/;



/ {
	fragment@0 {
		target-path = "/";		
		__overlay__ {
				spi4 {
					compatible = "spi-gpio";
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_spi4>;
					pinctrl-assert-gpios = <&gpio5 8 GPIO_ACTIVE_LOW>;
					status = "okay";
					gpio-sck = <&gpio5 11 0>;
					gpio-mosi = <&gpio5 10 0>;
					cs-gpios = <&gpio5 7 0>;
					num-chipselects = <1>;
					#address-cells = <1>;
					#size-cells = <0>;

					gpio_spi: gpio_spi@0 {
						compatible = "fairchild,74hc595";
						gpio-controller;
						#gpio-cells = <2>;
						reg = <0>;
						registers-number = <1>;
						registers-default = /bits/ 8 <0x57>;
						spi-max-frequency = <100000>;
					};
				};

		};

	};

	fragment@1 {
		target = <&iomuxc_snvs>;
		__overlay__ {
					pinctrl_spi4: spi4grp {
					fsl,pins = <
						MX6ULL_PAD_BOOT_MODE0__GPIO5_IO10		0x70a1
						MX6ULL_PAD_BOOT_MODE1__GPIO5_IO11		0x70a1
						MX6ULL_PAD_SNVS_TAMPER7__GPIO5_IO07		0x70a1
						MX6ULL_PAD_SNVS_TAMPER8__GPIO5_IO08		0x80000000
					>;
				};		

		};

	};

};
