// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) STMicroelectronics 2018 - All Rights Reserved
 * Author: Alexandre Torgue <alexandre.torgue@st.com>.
 */

/dts-v1/;
/plugin/;
//#include "../stm32mp157c.dtsi"
#include <dt-bindings/pinctrl/stm32-pinfunc.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/mfd/st,stpmic1.h>
#include <dt-bindings/gpio/gpio.h>

/{
	fragment@0{
		target=<&i2c1>;
		__overlay__{
			gtxx_tsc@5d {
				needed_invert;
			};            
		};
	};

	fragment@1{
		target=<&dsi>;
		__overlay__{
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					dsi_in: endpoint {
						remote-endpoint = <&ltdc_ep1_out>;
					};
				};

				port@1 {
					reg = <1>;
					dsi_out: endpoint {
						remote-endpoint = <&panel_in>;
					};
				};
			};

			panel: panel@0 {
				compatible = "himax,hx8394";
				reg = <0>;
				reset-gpios = <&gpiof 2 GPIO_ACTIVE_LOW>;
				power-supply = <&v3v3>;

				clock-frequency = <72816000>;
				hactive = <720>;
				vactive = <1280>;
				hfront-porch = <95>;
				hback-porch = <55>;
				hsync-len = <55>;
				vback-porch = <24>;
				vfront-porch = <8>;
				vsync-len = <9>;	
				vrefresh = <60>;

				status = "okay";

				port {
					panel_in: endpoint {
						remote-endpoint = <&dsi_out>;
					};
				};
			};

		};
	};

	fragment@2{
		target=<&ltdc>;
		__overlay__{
			status = "okay";

			port {
				#address-cells = <1>;
				#size-cells = <0>;

				ltdc_ep1_out: endpoint@1 {
					reg = <1>;
					remote-endpoint = <&dsi_in>;
				};
			};
		};
	};

};